- 
    var buttons = [ 
      {'title':'Править' , 'icon' : 'pencil'}, 
      {'title':'Удалить' , 'icon' : 'cross'},
    ]
section#reviews.reviews
  .reviews__container.container
    .title__container     
      h2.h2__title  Блок «Отзывы»
    section.reviews-edit.edit-block__container#reviews-edit
      .edit-block Новый отзыв
      .edit__container.reviews-edit__block          
        .reviews-edit__file.form
          .file__container
            .file__icon
              .file__icon__svg
            .file__title Добавить фото
            input.load-file__input
        .reviews-input
          .reviews-input__block
            - var formDate = ['Имя автора' , 'Титал автора']
              each input , index in formDate
                .form-add__item.reviews--input
                  label(for=`label${index}` class="form-label") #{input}
                  .input-block__form-add
                    input(placeholder="" id=`label${index}`).input-block.input--form-add
          .form-add__item
            label(for=`label3` class="form-label") Отзывы
            .input-block__form-add
              textarea.textarea-block.textarea--form--add.reviews--textarea
          .form-add__button
            button.button-no-click.form-add--button-no-click Отмена
            button.button-click.form-add--button-click.add-button Сохранить                
    section.reviews-list#reviews-list
      .reviews-list__container
        .work-iteam.review-iteam--button
          .block-iteam__container
            .block-add-button__block
              .block-add-button__container.block-add-button__container--reviews
                button.block-add-button +
                .block-add-title Добавить Отзыв
        .work-iteam.review-iteam
          .work-iteam__container
            .block__user
              .user__avatar
                img(src="../../../images/content/diva-avatar.jpg")
              .user__content
                .user__name Владимир Сабанцев
                .user__pr Преподаватель                        
            .block__content
              .block__text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
              .block__button
                .block__button__list
                  each button in buttons
                    .block__button__item
                      .block__button__title #{button.title}                     
                      button(class=`block__button__icon--${button.icon}`).block__button__icon            
