include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome#welcome    
        .parallax
          +image('content/phone_dev-min.jpg', 'top_fone_1')     
        section.one-block
          header.header
            .container
              .top-block.row
                .logo.top-block__element.lg-2
                  .logo__link ИИ
                .menu.top-block__element.lg-8
                  .block__mobile
                    .menu__mobile-button__container
                      button.mobile-button
                        +icon('menu','mobile-button__svg')
                  .block__desktop
                    +nav('nav')            
                +sohibal('sohibal',['instagram','vkontakte','github'],'top-block__element lg-2')
          .title-site
            .title-site__container
              +title('')
          .scroll.block__desktop
            a.scroll__link(href="#about")
              .scroll__text Скролл
              .scroll__icon
                +icon('scroll', 'scroll__icon')
        section#about.about
          .container
            .about__container
              .about__block
                .about__left
                  .about__image
                    +image('content/photo__my.jpg', 'photo__my')
                  .about__desciption
                    +desciption('desciption-block')
                .about__right
                  .about__title-mini #{about.hellow}
                  h2.about__title #{about.name} #{about.fistname}
                  .about__text 
                    p !{about.text}
                  .about__text-dop
                    p !{about.text_dop}

      section#skills.skills
          .skills-bg__container
            .skills-bg2__container
              .container.row
                .skills__container
                  .skills__title  #{skill.skill_title}
                  .skills__text   #{skill.skill_text}
                  .skills__block
                    +skills_1
                    +skills_2

      section#work.work
          .container
            .work__title #{work_title}
            .work__content.row
              .work__privie-image-block.lg-8
                +wors_privie('work__image',1) 
                +wors_privie('work__image__menu',2)
              .works__right.lg-4
                .work__number-bg__contener
                  .work__number-bg 1
                +works__content
      .reviews__contact
        .reviews__contact-bg2__container
          section#reviews.reviews
            .container
              .reviews__title__container
                h2.section-title.reviews__contact__title--text.lg-4 #{reviews_title}
                .button__container
                  button.slider-buttons__item.reviews-buttons__item.reviews-buttons__item--review--prev
                    +icon('arrow-down', 'strekli_left__svg')
                  button.slider-buttons__item.reviews-buttons__item.reviews-buttons__item--review--next.active
                    +icon('arrow-down', 'strekli_right__svg')
              .reviews-sliders.lg-8
                each review in reviews
                  .reviews-slider
                    .reviews-slider__icon-contener
                      span.reviews-slider__icon
                        +icon('quote','reviews-slider__icon__svg')
                    .reviews-slider__text-contener
                      .reviews-slider__text
                        .reviews-slider__people #{review.review_text}
                        .people-info__contener
                          .avatar.user__avatar
                            +image(`content/${review.avatar}`, "avatar__pic")
                          .user__container
                            .user__name #{review.user__name}
                            .user_work #{review.user_work}
                        
          
          section#contact.contact
            .container
              .contact__title__container
                h2.section-title.contact__contact__title--text  #{contact_title}
              .form-container.lg-7
                .form
                  each contact in contacts
                    if contact.svg != 'chat'
                      .form__item
                        
                          .form__item__icon 
                            .form__item__icon__container
                              +icon(`${contact.svg}`,'form__item__icon_avator')      
                          .form__item__container
                            label.form__item__title #{contact.label}
                            input(class="form__item_input" placeholder=`${contact.placeholder}` )
                    if contact.svg == 'chat'
                      .form__item.form__item__textarea--width
                        
                          .form__item__icon 
                            .form__item__icon__container
                              +icon(`${contact.svg}`,'form__item__icon_avator')      
                          .form__item__container
                            label.form__item__title #{contact.label}
                            textarea(class="form__item_input form__item__textarea" placeholder=`${contact.placeholder}`)
                  .form__button__container
                    button.form__button #{contact_button}
      
      
      footer#footer.footer
          .container.footer__container
         
            .footer__left__date © 2020
            .footer__left__about
                .left__about__block
                  +title_footer('__size_m')
                       
              
            .footer__right.lg-8
              +nav('nav')
              .footer__content
                .footer__text_dop__block
                  .footer__text_dop 
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                  .footer__text_icon
                    +sohibal('sohibal',['instagram','vkontakte','github'],'footer-block__element')  
                .footer__text
                  .footer__text__thoughts !{about.thoughts}
                  .footer__text__autor !{about.thoughts_a} 
                  
      //- .maincontent
      //-   +image('content/user.jpg', 'user-pic')
      //-   +icon('link', 'link-class')
      //-   .icon-bg