include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome#welcome    
        .parallax
          +image('content/phone_dev-min.jpg', 'top_fone_1')     
        section.one-block
          header.header
            .container
              .top-block.row
                .logo.top-block__element.col-lg-2
                  a(href="#").logo__link ИИ
                .menu.top-block__element.col-lg-8
                  +nav('nav')            
                +sohibal('sohibal',['instagram','vkontakte','github'],'top-block__element col-lg-2')
          .title-site
            +title('')
          .scroll
            a.scroll__link(href="#about")
              .scroll__text Скролл
              .scroll__icon
                +icon('scroll', 'scroll__icon')
        section#about.about
          .container.row
            .about__container.col-lg-8
              .about__block.row
                .about__left.col-lg-4
                  .about__image
                    +image('content/photo__my.jpg', 'photo__my')
                  .about__desciption
                    +desciption('desciption-block')
                .about__right.col-lg-8
                  .about__title-mini #{about.hellow}
                  h2.about__title #{about.name} #{about.fistname}
                  .about__text 
                    p !{about.text}
                  .about__text-dop
                    p !{about.text_dop}
      section#skills.skills
          .skills-bg__container
            .skills-bg2__container
              .container.row
                .skills__container.col-lg-8
                  .skills__title  #{skill.skill_title}
                  .skills__text   #{skill.skill_text}
                  .skills__block
                    +skills_1

      section#work.work
          .container
            .work__title #{work_title}
            .work__content.row
              .work__privie-image-block.col-lg-8
                +wors_privie('work__image',1)
                +wors_privie('work__image__menu',2)
              .works__right.col-lg-4
                +works__content
      .reviews__contact
        .reviews__contact-bg2__container
          section#reviews.reviews
            .container
              .reviews__title__container
                h2.section-title.reviews__contact__title--text Что обо мне говорят
                .button__container
                  button.reviews-buttons__item.reviews-buttons__item--review--prev
                    +icon('arrow-down', 'reviews-button__svg')
                  button.reviews-buttons__item.reviews-buttons__item--review--next
                    +icon('arrow-down', 'reviews-button__svg')
              .reviews-sliders
                .reviews-slider
                  .reviews-slider__icon-contener
                    span.reviews-slider__icon
                  .reviews-slider__text-contener
                    .reviews-slider__text
                    .reviews-slider__people #{review_text}
                      .avatar.user__avatar
                        +image("content/photo__my.jpg", "avatar__pic")
                      .user__container
                        .user__name Ковальчук Дмитрий
                        .user_work Основатель Loftschool
          
          section#contact.contact
            .container
              .contact__title__container
                h2.section-title.contact__contact__title--text Связаться со мной
              .form-container
                .form
                  .form__item
                    .form__item__icon
                    .form__item__title Введите ваше имя
                    input.form__item_input
                  .form__item
                    .form__item__icon
                      .form__item__title Введите ваш email
                      input.form__item_input    
                  .form__item.form__item__textarea
                    .form__item__icon
                      .form__item__title Сообщение к письму
                      textarea.form__item_input.form__item__textarea
                  .form__button__container
                    button.form__button Отправить
      
      
      footer#footer.footer
          .container.row
            .footer__left.col-lg-4
              .footer__left__date 2020
              .footer__left__about
                .left__about__block
                  +title_footer('__size_m')
                       
              
            .footer__right.col-lg-8
              +nav('nav')
              .footer__content
                .footer__text_dop__block
                  .footer__text_dop 
                    p !{about.text_dop}
                  .footer__text_icon
                    +sohibal('sohibal',['instagram','vkontakte','github'],'footer-block__element')  
                .footer__text
                  .footer__text__thoughts !{about.thoughts}
                  .footer__text__autor !{about.thoughts_a} 
                  
      //- .maincontent
      //-   +image('content/user.jpg', 'user-pic')
      //-   +icon('link', 'link-class')
      //-   .icon-bg