-   
  var menu = [
              {'url': 'welcome','name' : 'Главная'},
              {'url': 'about','name' : 'Обо мне'},
              {'url': 'skills','name' : 'Навыки'},
              {'url': 'work','name' : 'Работа'},   
              {'url': 'reviews','name' : 'Отзывы'},    
              {'url': 'contact','name' : 'Связаться'}                                         
                  ]

-
  var about__info = [
          {'name': 'Проживаю','desciption' : 'Москва'},
          {'name': 'Возраст','desciption' : '27 лет'},     
          {'name': 'Родился','desciption' : '7 марта 1992'}      
    ]


- 
  var about = {
      "site_name" : "Личный сайт",
      "site_name_2" : "веб разработчика" ,
      "hellow":"Привет, меня зовут" ,
      "fistname" : "Ивашов",
      "name" : "Иван" , 
      "text" : "Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.",
      "text_dop" : "Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!",
      "thoughts" : "Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете",
      "thoughts_a" : "Martin Golding"
      }
- 
  var skill = {
      "skill_title":"Чем я могу быть полезен вам",
      "skill_text":"Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!"
      }

- var work_title = 'Мои работы'

- 
  var wors =[

  {
    "skill" : ["HTML", "CSS" , "Javascript"],
    "image" : "work.jpg",
    "name": "Сайт школы образования" ,
    "url" : "google.com", 
    "des" : "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!"
  }
  ,

  {
    "skill" : ["HTML", "CSS" , "Javascript"],
    "image" : "work2.jpg",
    "name": "Сайт школы образования 2" ,
    "url" : "google.com", 
    "des" : "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!"
  }
  ,

  {
    "skill" : ["HTML", "CSS" , "Javascript"],
    "image" : "work3.jpg",
    "name": "Сайт школы образования 3" ,
    "url" : "google.com", 
    "des" : "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!"
  }
  ,

  {
    "skill" : ["HTML", "CSS" , "Javascript"],
    "image" : "work4.jpg",
    "name": "Сайт школы образования 3" ,
    "url" : "google.com", 
    "des" : "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!"
  }        
    
  ]


- var skills_title = 'Front-end'
-
  var skills = [
          {'name': 'HTML5','prosent' : '10 90'},
          {'name': 'CSS3','prosent' : '85 15'},
          {'name': 'Javascript','prosent' : '75 25'},      
          {'name': 'Jquery','prosent' : '45 55'}      
    ]


- var skills_title2 = 'Workflow'
-
  var skills2 = [
          {'name': 'GIT','prosent' : '20 80'},
          {'name': 'Terminal','prosent' : '55 40'},
          {'name': 'Gulp','prosent' : '50 50'},      
          {'name': 'Webpack','prosent' : '25 75'}      
    ]

- var reviews_title = "Что обо мне говорят"

- 
  var reviews = [

        {
        "avatar" : "diva-avatar.jpg",
        "user__name" : "Ковальчук Дмитрий",
        "user_work" : "Основатель Loftschool",
        "review_text" : "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!"
        },

        {
        "avatar" : "vlad-avatar.jpg",
        "user__name" : "Владимир Сабанцев",
        "user_work" : "Преподаватель",
        "review_text" : "Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах"
        }        
        ]

     
- 
  var contacts = [
         
      {
        "label" : "Ковальчук Дмитрий",
        "placeholder" : "Введите ваше имя",
        "svg" : "avatar"
      },
      
      {
        "label" : "Введите ваш email",
        "placeholder" : "loftschool@study.com",
        "svg" : "envelope"
      },

      {
        "label" : "Сообщение к письму",
        "placeholder" : "Требуется ваша помощь в создании сайта.Интересуют сроки и цена вопроса",
        "svg" : "chat"
      }        
        

  ]


- var contact_title = "Связаться со мной"
- var contact_button = "Отправить"

//-----------------------------------

mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)


mixin title__site(className)
    span(class=`title-site__left__text${className}`)  #{about.site_name} 
    span(class=`title-site__left__text${className}`)   #{about.site_name_2} 


mixin title__name(className)
    span(class=`title-site__right__text${className}`)  #{about.name}
    span(class=`title-site__right__text${className}`)  #{about.fistname}  


mixin title(className)
  div(class=`title-site__left${className}`)
    +title__site(`${className}`)
  div(class=`title-site__right${className}`)  
    +title__name(`${className}`)


mixin title_footer(className)
  div(class=`title-site__left${className}`)
    +title__name(`${className}`)
  div(class=`title-site__right${className}`)  
    +title__site(`${className}`)  



mixin nav(className,activeItem)

  nav(class=`${className}`)
    ul(class=`${className}__list`)
      each item in menu
        li(class=`${className}__item`)
          a(class=`${className}__link` href=`#${item.url}`) #{item.name}

mixin sohibal(classNameS,items,classNameD)
  div(class=`${classNameS} ${classNameD}`)
    ul(class=`${classNameS}__list`)
      each item in items
        li(class=`${classNameS}__item`)
          a(class=`${classNameS}__link` href="#")
            +icon(`${item}`, 'link-class')
mixin desciption(className)

  ul(class=`${className}__list`)
    each item in about__info
      li(class=`${className}__item`)
        span(class=`${className}__name`) #{item.name}:
        span(class=`${className}__desciption`) #{item.desciption}

mixin skills_1()
  .skills__block__contener
    .skills__block__title #{skills_title}
    ul.skills__list
      each item in skills
        li(class=`skills__item`)
          span(class=`skills__item__title` data-name=`${item.prosent}%` data-name_skill=`${item.name}`)
            +svg_skill(`${item.prosent}`)

mixin skills_2()
  .skills__block__contener
    .skills__block__title #{skills_title2}
    ul.skills__list
      each item in skills2
        li(class=`skills__item`)
          span(class=`skills__item__title` data-name=`${item.prosent}%` data-name_skill=`${item.name}`)
            +svg_skill(`${item.prosent}`)

mixin wors_privie(className,type)
  if type == 2
    .buttons__contener
      .slider__buttons
        .slider-button
          button.slider-buttons__item.slider-buttons__item--slide--prev.active
            +icon('arrow-down', 'strekli_right__svg')        
          button.slider-buttons__item.slider-buttons__item--slide--next
            +icon('arrow-down', 'strekli_left__svg')
  ul(class=`${className}__list`)

    each item, index in wors
      - var number = index + 1
      if index == 0
        - var active= 'active'
      else
        - var active= ''

      li(class=`${className}__item ${active}`)
        +image(`content/${item.image}`, `${className}__pictere`)
        if type == 1
          span(class=`${className}__bg-number`) #{number}


mixin works__content()
  .works__tags
    each tags , index in wors
      - var number = index + 1
      if index == 0
        - var active= 'active'
      else
        - var active= ''
      div(class=`works__tag ${active}`)
        ul.tags
            each tag in tags.skill
              li.tags__item #{tag}
        .works__text
          h3.works__title #{tags.name}
          .works__desc-text
            p #{tags.des}
            a(class="iconed-link" href=`${tags.url}` target="_blank")
              .iconed-link__icon 
                +icon('link','link__icon__svg')
              .iconed-link__text Посмотреть сайт


mixin svg_skill(dasharray)
  - var svg_block  =  '<svg  viewBox="0 0 42 42" class="donut"><circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" ></circle><circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke-dasharray="' +  dasharray  +  '"  stroke-dashoffset="50"></circle></svg>'
  span.svg_skill  !{svg_block}




  